/* body{
    background-image:url('sprites/carpet.jpg')
} */
h1{
    color:red;
    position:absolute;
}
.container{
    height:100vh;
    width: 100vh;
    position:relative;
}
.container-container{
    height:500px;
    aspect-ratio: 3/2;
    border:10px solid red;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.background{
    height:500px;
    aspect-ratio: 3/2;
    background-image:url('sprites/carpet.jpg');
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:-1;
}
.roomba{
    height:56.66px;
    width:56.66px;
    background-image:url('sprites/roomba.gif');
    background-color: black; 
    z-index:3;
    position:absolute;
    left:0px;
    top:0px;
}
.junk{
    height:13.33px;
    width:13.33px;
    /* background-image: url('sprites/cookie.png'); */
    background-color: green;
    position:absolute;
    display: block;
}

.sightLeft{
    width:100vw;
    height:10px;
    background-color: red;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.sightUp{
    width:10px;
    height:100vh;
    background-color: red;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}

.obstacle{
    height:50px;
    aspect-ratio: 16/9;
    background-color: blue;
    border:5px solid red;
    position:absolute;
}

.spawn-area{
    height:400px;
    aspect-ratio: 3/2;
    border:10px solid red;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
